# Configuración del Servidor NO TOCAR
PORT=3000

# Configuración de la Base de Datos
# Ajusten estos valores según sus configuraciónes de su base de datos de Oracle :D
DB_HOST=localhost
DB_PORT=1521
DB_NAME=FREEPDB1
DB_USER=system
DB_PASSWORD=oracle
